body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f4f4f4;
}


/* Стили для параграфов */
.text-paragraph {
    color: #f4f4f4;
    margin-bottom: 15px;
    padding: 0 10px;
}




/* Стили для основного контента */
.main-content {
    flex: 1;
    padding: 20px;
    background: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Стили для изображения профиля */
.profile-pic {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

/* Стили для видео */
video {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

/* Применение псевдоклассов */
a:hover {
    color: #FFD700;
}

.product-card:active {
    background-color: #444;
}

/* Стили для обертки контента */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Дополнительные стили для улучшения читаемости */
h1, h2, h3 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}

/* Стили для кнопок (если они есть на странице) */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Медиа-запрос для адаптивности на мобильных устройствах */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .side-nav {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .main-content {
        width: 100%;
    }
}
h1.main-heading {
    transition: font-size 0.3s ease;
}
h1.main-heading:hover {
    font-size: 2.2em;
}

.text-paragraph {
    transition: background-color 0.5s ease;
}


#lecturesTable {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.profile-pic {
    transition: transform 0.5s ease;
}
.profile-pic:hover {
    transform: rotate(360deg);
}


#formMessage {
    opacity: 0;
    transition: opacity 0.5s ease, color 0.5s ease;
}